.chooseTypeContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    /* transition: max-width 0.3s ease-out; */

    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: var(--color-alt-background);
    z-index: 1;
    border-radius: var(--border-radius);
  }
  
.chooseTypeContainer.active {
  max-height: 500px; 
}