.fullLayout{
    display: flex;
    flex-direction: row;
    height: 100vh;

}

.sideBarContainer{
    background-color: var(--color-alt-background);
    flex:1;
    min-width: 250px; 
    box-shadow: 4px 0 5px rgba(0, 0, 0, 0.2); 
}

.contentWindowContainer{
    flex:4;
}