@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Variable CSS declarations */
:root {
  --font-family: 'Roboto', sans-serif;

  /* Base colors */
  --color-background: #FFFFFF;
  --color-alt-background: #E1E5F2;
  --color-text: #022B3A;
  --color-accent: #1F7A8C;

  --font-size-xsmall: 0.75rem;
  --font-size-small: 0.875rem; 
  --font-size-base: 1rem;
  --font-size-large: 1.25rem; 
  --font-size-xlarge: 1.5rem;
    
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-family: var(--font-family);
    background-color: var(--background-color);
    min-height: 100vh;
    color: var(--text-color);
}

body {
    overscroll-behavior: none;
  }

a {
text-decoration: none;
}

ul,
li {
list-style: none;
}

p,
li,
a {
  font-size: var(--font-size-base);
}

.alt-background-color {
    background-color: var(--alt-background-color);
}

.text-color {
    color: var(--text-color);
}

.accent-color {
    color: var(--accent-color);
}

.content-margin-small {
    margin: 1rem;
} 
