.addNewTaskContainer{
    margin: var(--margin-large);
    min-width: 800px;
}

.addNewTaskContainer h1{
    margin-bottom: var(--margin-large);
}

.addNewTaskContainer select,
.addNewTaskContainer input[type="text"],
.addNewTaskContainer input[type="date"],
.addNewTaskContainer textarea{
    margin-bottom: var(--margin-small);
}

.addNewTaskContainer .projectStatusContainer{
    width: 100px;
}